# PyCharm
.idea

# VSCode
.vscode

# MAC OS
.DS_Store

# pytest
.coverage
.pytest
.pytest_cache

# Python
*__pycache__*
*.py[cod]
*.cpython-36.pyc
*.egg-info

# Patches (not to be committed by mistake)
*.patch

# Other
*.ipynb_checkpoints
data/cqr/
data/uci/
data/oxford-iiit-pet/
results/
